<html>
  <head>
    <% include ../partials/head %>
  </head>
<body>
  <form action="/login" method="POST">
  	<div>
    	<label>Email:</label>
    	<input type="email" name="email" placeholder="Email" required/><br>
  	</div>
  	<div>
      <label>Password:</label>
    	<input type="password" name="password" placeholder="Password" required/><br>
  	</div>
  	<div>
  	  <input type="submit" value="Login"/>
  	</div>
  </form>
</body>
</html>
