<html>
  <head>
    <% include ../partials/head %>
  </head>
<body>
  <img src="<%= user.image %>" width="400" alt="profile photo">
  <p>
  Id: <%= user.id %><br>
  Username: <%= user.username %><br>
  Name: <%= user.displayName %><br>
  </p>
</body>
</html>
