<html>
  <head>
    <% include ../partials/head %>
  </head>
<body>
  <p>
  Id: <%= user.id %><br>
  Username: <%= user.username %><br>
  Name: <%= user.displayName %><br>
  Email: <%= user.email %><br>
  </p>
</body>
</html>
