<html>
  <head>
    <% include ../partials/head %>
  </head>
<body>
  <p>
    Id: <%= user.id %><br>
    Name: <%= user.firstName + " " + user.lastName %><br>
    Phone No.: <%= user.phoneNumber %> <br>
    Email: <%= user.email %><br>
  </p>
  <a href="/logout">Log out</a>
</body>
</html>
